<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Risks</title>
    <link rel="shortcut icon" href="{% static 'intel_app/img/intel.ico' %}"/>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'intel_app/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'intel_app/css/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/bootstrap-icons-1.11.1/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/table/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/table/bootstrap-table.css' %}" rel="stylesheet">
<body style="background-color:#ffffff!important;">

<!-- Example Code -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand">
            <span>Intel</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-md-auto gap-2">
                <li class="nav-item rounded">
                    <a class="nav-link ho" href="{% url 'home' %}">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item dropdown rounded">
                    <a class="nav-link ho dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        <span>{{request.user.username}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<main>
    <!-- Service 4 - Bootstrap Brain Component -->
    <section>
        <div class="container"><!--style="max-width:100%;"-->
            <div class="card">
                <div class="card-header">
                    <b>Risks</b>
                </div>
                <div class="card-body">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            style="float:right;">
                        Add Problem
                    </button>
                    <br><br>
                    <table class="table table-bordered table-striped" id="example"
                           data-toggle="table"
                           data-pagination="true"
                           data-search="true"
                           data-search-align="left"
                           data-show-columns="true"
                           data-show-toggle="false"
                           data-show-columns-toggle-all="true"
                           data-show-export="true"
                           data-export-data-type="all"
                           data-response-handler="responseHandler"
                           data-show-fullscreen="true"
                           data-show-pagination-switch="true"
                           data-height="510"
                           data-sort-name="eta"
                           data-sort-order="desc"
                           data-pagination-pre-text="Previous"
                           data-pagination-next-text="Next"
                           data-pagination-h-align="left"
                           data-pagination-detail-h-align="right"
                           data-page-size="6"
                           data-page-list="[20, 30, 40, 50, All]"
                           data-buttons-class="primary">
                        <thead>
                        <tr>
                            <th nowrap data-sortable="true" class="problem_statement">Problem Statement</th>
                            <th nowrap data-sortable="true" data-field="status" class="status" data-formatter="nameFormatter">
                                Status
                            </th>
                            <th nowrap data-sortable="true" class="owner">Owner</th>
                            <th nowrap data-sortable="true" class="message">Message</th>
                            <th nowrap data-sortable="true" class="eta" data-field="eta">ETA</th>
                            <th nowrap data-sortable="true" class="risk">Risk</th>
                            <th nowrap data-sortable="true" class="severity">Severity</th>
                            <th nowrap data-sortable="true" class="impact">Impact</th>
                            <th nowrap data-sortable="true"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in data %}
                        <tr>
                            <td nowrap class="problem_statement">{{ i.problem_statement }}</td>
                            <td nowrap class="status">{{ i.status }}</td>
                            <td nowrap class="owner">{{ i.owner }}</td>
                            <td nowrap class="message">{{ i.message }}</td>
                            <td nowrap class="eta">{{ i.eta | date:'Y-m-d' }}</td>
                            <td nowrap class="risk">{{ i.risk | date:'Y-m-d' }}</td>
                            <td nowrap class="severity">{{ i.severity }}</td>
                            <td nowrap class="impact">{{ i.impact }}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" title="Edit Risk"><a
                                        style="text-decoration:none;color:#fff;" href="{% url 'risk_edit_table' pk=i.id %}"><i
                                        class="fas fa-edit"></i>&nbsp;Edit</a></button>
                            </td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Include the Quill library -->
<script src="{% static 'intel_app/js/jquery.min.js' %}"></script>
<script src="{% static 'intel_app/js/quill.js' %}"></script>
<script src="{% static 'intel_app/table/popper.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'intel_app/table/bootstrap-table.min.js' %}"></script>
<script src="{% static 'intel_app/table/bootstrap-table.js' %}"></script>
<script src="{% static 'intel_app/table/tableExport.min.js' %}"></script>
<script src="{% static 'intel_app/table/bootstrap-table-export.min.js' %}"></script>
<script>
    function nameFormatter(value, row) {
      var icon = row.status === 'R'  ? 'fa-circle fa-sm text-danger' :
      row.status === 'G'  ? 'fa-circle fa-sm text-success' :
      row.status === 'B'  ? 'fa-circle fa-sm text-primary' :
      'fa-circle fa-sm text-info'
      return '<i class="fa ' + icon + '"></i> ' + value
    }

</script>
<script>
    $('#example').bootstrapTable({
    exportOptions: {
        fileName: 'Risks'
    },
    exportTypes: ['csv', 'excel'],
});
</script>
</body>
</head>
</html>